.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.2); /* Light transparent white */
  /* backdrop-filter: blur(10px); Blurs background */
  /* -webkit-backdrop-filter: blur(10px); For Safari support */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); Adds a soft shadow */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); Optional frosted border */
  background: transparent; /* Light transparency */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000; /* Ensures it stays on top */
}

.header > a {
  width: 2vmax;
  height: 2vmax;
  margin: 1vmax 4vmax;
}
.header > a > svg {
  font-size: 2vmax;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.445);
}

.header > a > svg:hover {
  color: black;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .header > a {
    width: 8vw;
    height: 8vw;
    margin: 2vw 8vw;
  }
  .header > a > svg {
    font-size: 8vw;
  }
}
